* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 40px auto;
    border: 2px solid black;
    box-shadow: 2px 2px 7px lightslategrey;
}

.field {
    text-align: right;
    padding-right: 5px;
    font-size: 30px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    background: mintcream;
}

.buffer {
    color: grey;
    font-size: 0.6em;
    height: 1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.reset, .digit[value="0"], .equals {
    grid-column: span 2;
}

button {
    user-select: none;
    box-shadow: 1px 1px 2px grey;
    transition: all 0.15s;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 25px;
}

button:hover{
    box-shadow: 1px 1px 2px black;
}

button:active {
    background-color: gainsboro;
}
